<div class="row">
    <h1>Proyetos en Ejecución</h1>
    <div class="contenedor">
        <div class="col-ms-12 col-md-7 col-lg-7 texto1">
        <h3>Reservas Lodge</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, accusamus quo. Harum minus accusantium fugiat esse quidem magni veritatis iste nam ipsam, provident fuga labore, placeat molestiae delectus itaque deleniti!
        </p>
        </div>
        <div class="col-ms-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 foto1">
            <img src="../../../assets/imagenes/proyecto1.jpg" alt="proyecto1" class="img-proy1">
        </div>
    </div>
    <div class="contenedor">
        <div class="col-ms-12 col-md-7 col-lg-7 texto1">
        <h3>Agencia CRM</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, accusamus quo. Harum minus accusantium fugiat esse quidem magni veritatis iste nam ipsam, provident fuga labore, placeat molestiae delectus itaque deleniti!
        </p>
        </div>
        <div class="col-ms-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 foto1">
            <img src="../../../assets/imagenes/proyecto2.jpg" alt="proyecto1" class="img-proy2">
        </div>
    </div>




</div>
