<app-header></app-header>

<section class="formlogin">
  <div class="container text-center">
    <div class="row">
      <div class="col-4">

      </div>
      <div class="col-4 form-login">
        <div class="modal-body">
          <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label text-white">Usuario</label>
              <input type="email" id="nombreUsuario" name="nombreUsuario" class="form-control form-control-lg" 
                aria-describedby="usuario Help" [(ngModel)]="nombreUsuario" [ngModelOptions]="{standalone: true}" required />
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label text-white">Contraseña</label>
              <input type="password" class="form-control" id="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" required />
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-secondary">Ingresar</button>
            </div>
            <small class="text-white">Si no tenes Cuenta <a href="/registro.html"
                class="text-white">Registrate</a></small>
          </form>
        </div>
      </div>
      <div class="col-4">

      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>