<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/imagenes/Logo.png" alt="logo" id="logo">
        </div>
        <div class="redes">
            <a href="https://facebook.com" target="_blank"><i class="bi bi-facebook" style="font-size: 3rem; color: white"></i></a>
            <a href="https://github.com/" target="_blank"><i class="bi bi-github icono" style="font-size: 3rem; color: white"></i></a>
            <a href="https://linkedin.com" target="_blank"><i class="bi bi-linkedin icono" style="font-size: 3rem; color: white"></i></a>
            <!-- Boton envio al login-->
            <a href="../login"><i class="bi bi-person" style="font-size: 3rem; color: white"></i></a>
        </div>       
    </div>
</div>
